* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    width: 100vw;
    
}

.container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 20px;
}

.container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container li {

    margin: 0 20px;
    list-style: none;
}

.container li:hover {
    text-decoration: $colorOne underline;
    
}

.content_navegation {

    padding-top: 5px;
   

}

.content_navegation a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}



.content_navegation #navegation_cadaster {
    background-color: $colorOne;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}


section {
    width: 100vw;
    margin-top: 100px;

}

.main {
    text-align: center;
}

.main p {
    font-weight: bold;
    color: $colorOne;
}

.main h1 {
    padding-top: 30px;
    font-weight: 500;
    font-size: 2em;
}

.main #text_main {
    
    width: 650px;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 400;
    color: $colorTree;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    margin-top: 50px;
}

.card h1 {
    font-weight: 500;
    color: $colorOne;
    font-size: 3em;
}

.card span {

    font-size: 1.2em;
    font-weight: 900;

}

.card p {
    width: 280px;
    margin: 0 auto;
    margin-top: 10px;
}

.content_work {
    text-align: center;
    margin-top: 150px;

}

.content_work p {

    background-color: $colorSix;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorOne;
    font-weight: 900;
    border-radius: 25px;

}

.content_work h1 {
    margin: 30px  0px;
    font-weight: 500;
}

.content_work span {
    padding-top: 30px;
    font-size: 1.2em;
    font-weight: 500;
    color: $colorTree;
}

.content_work img {
    margin-top: 30px;
    border-radius: 25px;
}

.container_work_publi {
    margin-top: 30px;
    text-align: center;
    height: 400px
}

.container_design {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    
}


.card_work_design {

    background-color: $colorSix;
    border: 1px solid $colorOne;
    padding: 10px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.card_work_design_text {

    display: flex;
    align-items: center;
    
}

.card_work_design_text p {

    margin: 0 10px;
    text-align: center;

}